* {
    box-sizing: border-box;
}
.registerContent {
    height: 800px;
    background: #302825;
    position: relative;
    .loginDetail {
        box-sizing: border-box;
        width: 388px;
        height: 640px;
        background: #241F1B;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 75px auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0 0 0;
        .phone {
            div {
                width: 280px;
                height: 40px;
                display: flex;
                justify-content: space-between;
                button {
                    border-radius: 5px;
                    background: #D6C091;
                    font-size: 12px;
                    line-height: 40px;
                    width: 80px;
                    cursor: pointer;
                }
                input {
                    width: 180px;
                    height: 40px;
                    border-radius: 5px;
                    padding-left: 10px;
                    font-size: 14px;
                }
            }
            p {
                font-size: 14px;
                color: #736460;
                margin-bottom: 2px;
            }
        }
        .userName,.password {
            p {
                font-size: 14px;
                color: #736460;
                margin-bottom: 2px;
            }
            input {
                width: 280px;
                height: 40px;
                border-radius: 5px;
                padding-left: 10px;
                font-size: 14px;
            }
        }
        .password {
            margin-top: 5px;
        }
        .loginBtn {
            margin-top: 53px;
            width: 288px;
            height: 40px;
            background: #D6C091;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}